#primeira-parte{
    background-color: #F1FAEE;

    text-align: justify;
}

.container {
    font-family: 'Lato', sans-serif;   
    padding-bottom: 1.5rem;
}

.titulo-um.text-center {
    font-size: 45px;
    margin-top: 0;
    margin-bottom: 0.5rem;
}



.subtitulo.text-center {
    margin-top: 25px;
    margin-bottom: 25px;
}

.title-conteudo-principal {
    margin-top: 31px;
    margin-bottom: 31px;
}

.btn {
    margin-top: 23px;
    
}

.about-feature-items .feature-items-content{
    padding-left: 20px;
}

.about-feature-items {
    margin-top: 30px;
    margin-bottom: 15px;
}

.about-feature .about-feature-content{
    margin-top: 40px
}

.about-feature .about-feature-content .feature-title{
    font-size: 27px;
    line-height: 45px;
    text-align: justify;
}

.about-feature .about-feature-content .text{
    font-size: 20px;
    
}

.about-feature .about-feature-image img {
    width: 100%;
}

#terceira-parte{
    background-color: #F1FAEE;
    text-align: justify;
}

footer {
    background-color: #CDE0DD;
    padding: 100px;
}

.senhas {
    margin-top: 7px;
}

.container {
    padding-top: 1.5rem;
    
}

.card-header {
    text-align: center;
}

